.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #CE9898;
    font-family: 'Josefin Sans','Times New Roman', Times, serif;
}

.desktop-header {
    display: none;
}

span {
    color: #CE9898;
}

.title {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
    width: 45%;
    text-align: center;
    position: relative;
    left: 2.7em;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 10.83px;
}

.main-txt {
    width: 85%;
    text-align: center;
    position: relative;
    left: 1.5em;
    margin-bottom: 3em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 1.3em;
}

input[type="email"], .submit {
    border-radius: 15px;
    position: relative;
    left: 0.6em;
}

.submit {
    left: -3.3em;
}

input[type="email"] {
    padding: 0.6em 0 0.6em 1em;
    width: 80vw;
}

.submit {
    position: relative;
    right: 3.2em;
    padding: 0.3em 1em 0.3em 1em;
    background-color: hsl(0, 93%, 68%);
    width: 15vw;
}

.submit:hover {
    cursor: pointer;
    background-color: #F8BFBF;
}

.error-img {
    position: relative;
    left: 60vw;
    bottom: 7.3vh;
}

.error-msg {
    color: #F96464;
    position: relative;
    left: 2em;
}

.error-div {
    display: none;
}

.border-error {
    border: 2px solid #F96464;
}

.show {
    display: block;
}

.msg-show {
    display:inline;
}

@media (min-width: 1440px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    span {
        line-height: 64px !important;
        letter-spacing: 17.32px !important;
    }

    .title {
        line-height: 71px;
        letter-spacing: 17.32px;
        text-align: left;
        font-weight: bold;
    }

    .logo {
        position: absolute;
        top: 2em;
        left: 2em;
    }

    .header-img {
        display: none;
    }

    .desktop-header {
        display: initial;
        width: 54vw;
        height: 101vh;
        position: relative;
        right: -1em;
        top: -1em;
    }

    main {
        width: 45%;
    }

    .main-txt {
        line-height: 28px;
        width: 60%;
        left: 3.5em;
    }

    form {
        width: 55%;
        left: 5em;
    }

    .submit {
        position: absolute;
        left: 23.1em;
        width: 15%;
    }

    .error-msg {
        left: 9em;
    }

    .error-img {
        left: 26.6vw;
    }
}